langchain
langchain-ollama
langchain_community 
langchain-qdrant
langchainhub
tiktoken
Django>=5.0
psycopg2>=2.9
djangorestframework
django-encrypted-json-fields==1.0.4
django-json-widget
transformers
redis
celery
qdrant-client
django-rest-knox
xxhash
unstructured
unstructured[all-docs]